/* Navbar */
.navbar{
  position: relative;
  z-index: 1;
}
.navbar-brand{
  font-family: 'Viga';
  font-size: 32px;
}

.navbar-brand, .nav-link{
  color: white!important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.nav-link{
  text-transform: uppercase;
  margin-right: 30px;
}

/* JUMBOTRON */
  .jumbotron{
    background-image: url(bg.jpg);
    background-size: cover;
    height:640px;
    margin-top: -75px;
    position: relative;
  }
  .jumbotron .container{
    z-index: 1;
    position: relative;
  }

  .jumbotron::after{
    content:'';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
  }

  .jumbotron .display-4{
    color:white;
    text-align: center;
    margin-top: 150px;
  }

  /* info panel */
  .info-panel{
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
  }

  .info-panel img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
  }

  .info-panel p{
    font-size: 17px;
    color:#ACACAC;
    margin-top: -10px;
    font-weight: 200px;
  }

  /* working space */
  .workingspace {
    margin-top:120px;
  }

  .workingspace h3{
    font-size:52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top:30px;
  }

  .workingspace p{
    font-size:18px;
    color:#ACACAC;
    font-weight: 200;
    margin: 30px 0;
  }

  /* footer */
  .footer{
    background-color: black;
    margin-top: 100px;
    padding-top: 10px;
  }

  .footer p{
    color:#ACACAC;
    font-size: 18px;
  }

  .vacshow-top{
    text-align: left;
  }

  .vacshow-top img{
    border: solid 2px #ACACAC ;
  }

  .vacshow-top span{
    color:#ACACAC ;
    font-weight: 150;
  }